{% extends "votation_detail_template.html" %} {% block results %}
        <h3>{{_("Election Result")}}</h3>
        {% if count_voters == count_votes %}
            <div class="alert alert-success">{{_("The number of votes and the number of voters match")}}.</div>
        {% else %}
            <div class="alert alert-danger">{{_("The number of votes and the number of voters do not match")}}.</div>
        {% endif %}
        <h4>{{_("Votes Counting")}}</h4>
        <div class="container">
            <ol>
                {% for r in counting %}
                    <li class="mb-1">
                        {{r.option_name}}
                        <div class="row">
                            {% for j in juds_array %} 
                                <div class="col-sm border text-nowrap ml-1 mb-1">
                                    <span class="badge badge-pill badge-warning w-25" data-cy="word{{j.jud_value}}">
                                        {{r.totals_array[j.jud_value]}}
                                    </span> {{j.jud_name}}
                                </div>
                            {% endfor %}
                        </div> 
                    </li>
                {% endfor %}
            </ol>
        </div>

        <h4>{{_("Randomized list")}}</h4>
        <div class="container">
            <table class="table">
                <thead><tr>
                    <th scope="col">Option</th>
                    <th scope="col">String</th>
                    <th scope="col">SHA256 Hash</th>
                </tr></thead>
                {% for r in randomized_list %}
                    <tr>
                        <td>{{r[0]}}</td>
                        <td>{{r[1]}}</td>
                        <td>{{r[2]}}</td>
                    </tr>
                {% endfor %}
                </table>
        </div>


{% endblock %}
