{% extends "base_template.html" %}
{% block body %}
{% if current_user.is_authenticated %}
{{_("Welcome")}} {{ current_user.user_name }}.
<div>{{_("Go to")}} <a href="/">{{_("Main menu")}}</a></div>
{% else %}

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="{{ CLIENT_ID }}"
         data-ux_mode="redirect"
         data-login_uri="https://copernicani.pythonanywhere.com/google_callback_url">
    </div>
    <div class="g_id_signin" data-type="standard"></div>


{% endif %}
{% endblock %}