{% extends "base_template.html" %} 
{% block body %} 
{% if current_user.is_authenticated %} 
Welcome {{ current_user.user_name }}. 
<div>Go to <a href="/">Main menu</a></div>
{% else %}
  <form action="login" method="post" id="login">
    <h2>{{_('Please, login')}}</h2>
    <div class="form-group">
      <label for="user_name">{{_('User name')}}:</label><br>
      <input type="text" id="user_name" name="user_name">
    </div>
    <div class="form-group">
      <label for="pass_word">Password:</label><br>
      <input type="password" id="pass_word" name="pass_word">
    </div>
      <button class="btn btn-warning" type="submit">Log in</button>
    </form>
{% endif %} 
{% endblock %}