{% extends "base_template.html" %} 
{% block body %} 
{% if current_user.is_authenticated %} 
  {{_("Welcome")}} {{ current_user.user_name }}. 
  <div>{{_("Go to")}} <a href="/">{{_("Main menu")}}</a></div>
{% else %}
  <div class="container">
    <div>{{_("Welcome in Spritz voting system. Please log in.")}}</div>
    <div class="mb-4">
        <button class="btn btn-warning" id="login_button">Log in</button>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="chk1">
        <label class="form-check-label" for="chk1">
          Accetto il regolamento della sperimentazione descritta nel sito e 
          dichiaro di avere preso visione della Privacy Policy [<a href="/static/PrivacyPolicyQuirinarie.v.22.01.2022.pdf" target="privacy">link</a>]
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="chk2">
        <label class="form-check-label" for="chk2">
          Acconsento al trattamento dei miei Dati personali per poter partecipare 
          alla sperimentazione, ai sensi del punto 5 della Privacy Policy [<a href="/static/PrivacyPolicyQuirinarie.v.22.01.2022.pdf" target="privacy">link</a>]
        </label>
      </div>

<div><br><br><br>
  <video width="560" height="315" controls  muted autoplay>
    <source src="https://dl-iusondemand.s3.amazonaws.com/copernicani/Giudizio%20Maggioritario.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
<a href="/static/{{_('Spritz_online_voting_system.pdf')}}" target="spritz">{{_("How it works?")}}</a>       
    </div>
    <script>
      $("#login_button").click(function(){
        var consent1 = $("#chk1").prop("checked")
        var consent2 = $("#chk2").prop("checked")
        if (consent1 && consent2) {
          window.location.href = "{{url_for('login_auth0')}}"
        } else
        {
          alert('{{_("Please accept terms.")}}');
        }
      });
    </script>
{% endif %} 
{% endblock %}