{% extends "base_template.html" %} {% block body %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{_("This is the list of elections")}}.</strong> 
    {{_("You can vote between the begin and end dates")}}. &nbsp;
    <strong>{{_("Click the vote button")}}</strong> {{_("to insert your vote")}}. &nbsp;
    {{_("Click the details button to get more information about the election")}}. &nbsp;
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


{% for v in votations_array %}
    <div class="row border border-warning  mb-4 text-center rounded">
        <div class="col border m-1"><span class="font-weight-bold">{{_("Election")}}</span> <span class="badge badge-pill badge-warning p-1" data-cy="votation_id">{{v.votation_id}}</span> {{type_description[v.votation_type]}}</div>
        <div class="col border m-1 ">{{v.votation_description}}</div>
        <div class="col border m-1"><span class="font-italic">{{states[v.votation_status]}}</span></div>
        <div class="w-100"></div>
        <div class="col border m-1 text-nowrap "><span class="font-weight-bold">{{_("Begin")}}:</span> {{v.begin_date}}</div>
        <div class="col border m-1 text-nowrap " ><span class="font-weight-bold">{{_("End")}}:</span> {{v.end_date}}</div>
        <div class="w-100"></div>
        <div class="col m-1">
            {% if v.votation_status == 1 %}
                <a href="/vote/{{v.votation_id}}" class="btn btn-warning btn-sm m-2" data-cy="vote">{{_("Vote")}}</a>  
            {% endif %}
                <a href="/votation_detail/{{v.votation_id}}" class="btn btn-warning btn-sm m-2" data-cy="detail">{{_("Details")}}</a>
            {% if v.votation_status == 0 %}
                <a href="/be_a_candidate/{{v.votation_id}}" class="btn btn-warning btn-sm m-2">{{_("Be a Candidate")}}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}