{% extends "base_template.html" %} {% block body %}

{% for v in votations_array %}
    <div class="row border border-warning mb-3 text-center ">
        <div class="col border m-1"><span class="font-weight-bold">Votazione</span> <span class="badge badge-pill badge-warning w-25" data-cy="votation_id">{{v.votation_id}}</span> {{type_description[v.votation_type]}}</div>
        <div class="col border m-1 text-nowrap">{{v.votation_description}}</div>
        <div class="col border m-1"><span class="font-italic">{{states[v.votation_status]}}</span></div>
        <div class="col border m-1"><span class="font-weight-bold">Inizio:</span> {{v.begin_date}}</div>
        <div class="col border m-1"><span class="font-weight-bold">Fine:</span> {{v.end_date}}</div>
        <div class="col m-1">
            {% if v.votation_status == 1 %}
                <a href="/vote/{{v.votation_id}}" class="btn btn-warning btn-sm m-2" data-cy="vote">Vota</a>  
            {% endif %}
                <a href="/votation_detail/{{v.votation_id}}" class="btn btn-warning btn-sm m-2" data-cy="detail">Guarda</a>
            {% if v.votation_status == 0 %}
                <a href="/be_a_candidate/{{v.votation_id}}" class="btn btn-warning btn-sm m-2">Candidati</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% endblock %}