{% extends "base_template.html" %} {% block body %}
    <p><span class="font-weight-bold">Codice Votazione:</span> <span data-cy="votation_id">{{v.votation_id}}</span></p>
    <p><span class="font-weight-bold">Tipo Votazione:</span> {{type_description[v.votation_type]}}</p>
    <p><span class="font-weight-bold">Descrizione:</span> {{v.votation_description}}</p>
    <p><a href="{{v.description_url}}" target="votation_page">Pagina della votazione</a></p>
    <p><span class="font-weight-bold">Stato:</span> {{states[v.votation_status]}} ({{v.votation_status}})</p>
    <p><span class="font-weight-bold">Avviata da:</span> {{v.promoter_user.user_name}}</p>
    {% if is_voter %}
        <p><span class="font-weight-bold" data-cy="is_voter">Sei tra i votanti</span></p>
    {% else %}
        <p><mark class="font-weight-bold" data-cy="isnt_voter">Non sei tra i votanti</mark></p>
    {% endif %}
    <div class="container">
        {% if votation_timing == -1 %}
        <p class="font-weight-bold">La votazione non è ancora iniziata.</p>
        <p><span class="font-weight-bold">Inizio previsto per:</span> {{v.begin_date}} {{v.begin_time}} <a href="https://time.is/it/UTC" target="utc">UTC</a></p>
        <p><span class="font-weight-bold">Terminere previsto per:</span> {{v.end_date}} {{v.end_time}} <a href="https://time.is/it/UTC" target="utc">UTC</a></p>    
        {% endif %}
        {% if votation_timing == +1 %}
        <p class="font-weight-bold">La votazione è terminata.</p>
        <p><span class="font-weight-bold">Iniziata il:</span> {{v.begin_date}} {{v.begin_time}} <a href="https://time.is/it/UTC" target="utc">UTC</a></p>
        <p><span class="font-weight-bold">Terminata il:</span> {{v.end_date}} {{v.end_time}} <a href="https://time.is/it/UTC" target="utc">UTC</a></p>
        {% endif %}
        {% if votation_timing == 0 %}
        <p class="font-weight-bold">La votazione è in corso.</p>
        <p><span class="font-weight-bold">Iniziata il:</span> {{v.begin_date}} {{v.begin_time}} <a href="https://time.is/it/UTC" target="utc">UTC</a></p>
        <p><span class="font-weight-bold">Terminerà il:</span> {{v.end_date}} {{v.end_time}} <a href="https://time.is/it/UTC" target="utc">UTC</a></p>    
        {% endif %}
    </div>
    <p data-cy="count_voters"><span class="font-weight-bold">Votanti :</span> {{count_voters}}</p>
    <p data-cy="count_votes" ><span class="font-weight-bold">Voti :   </span> {{count_votes}} </p>

    {% if v.votation_type != "draw"  %}
        {% if current_user.u.user_id == v.promoter_user.user_id and votation_timing == +1 and v.votation_status ==1 %}
            <p><a class="btn btn-warning" href="/close_election/{{v.votation_id}}" data-cy="close">Termina l'elezione</a></p>
        {% endif %}

        {% if current_user.u.user_id == v.promoter_user.user_id  %}
            <p><a class="btn btn-danger" href="/delete_election/{{v.votation_id}}" data-cy="delete_votation">Cancella l'elezione</a></p>
        {% endif %}
    {% endif %}


    {% if v.votation_type == "draw" %}
        {% if current_user.u.user_id == v.promoter_user.user_id and v.votation_status == 0 and candidates_array|length > 0  %}
            <p><a href="/start_election/{{v.votation_id}}">Inizia l'elezione</a></p>
        {% endif %}
    <h3>Candidati:</h3>
    <ul>
        {% for c in candidates_array %}
            <li  ><span >{{c.u.user_name}}</span> [Candidato n. {{c.order_n}}]</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if v.votation_type != "draw"  %}
    <h3>Opzioni:</h3>
    <ul>
        {% for c in options_array %}
            <li>{{c.option_name}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    
    {% if v.votation_status == 4 %}
        <h3>Risultato della votazione</h3>
        <div>The election is failed.</div>
    {% endif %}

    {% if v.votation_status == 3 %}

        {% block results %}{% endblock %}

    {% endif %}

    {% if current_user.u.user_id == v.promoter_user.user_id  %}
        {% if v.votation_status <= 1 and votation_timing <= 1 and v.list_voters == 1 and v.votation_type != "draw" %}
            <h3>Aventi diritto al voto</h3>
            <form action="/add_voters" method="post" id="list_voters_form">
                <input type="hidden" name="votation_id" value="{{v.votation_id}}">
                <div class="form-group">
                    <label for="list_voters">Aggiungi i seguenti aventi diritto</label>
                    <textarea class="form-control text-uppercase" type="text" id="list_voters" name="list_voters" rows="15"></textarea>
                    <small class="form-text text-muted">Un username per riga</small>
                </div>
                <button type="submit" class="btn btn-primary" data-cy="add_voter_button">Aggiungi</button>
                    
            </form>
        {% endif %}
    {% endif %}


{% endblock %}
