{% extends "base_template.html" %} {% block body %}

<form action="votation_propose" method="post" id="votationPurpose">
    <div class="form-group">
        <label for="votation_description">Descrizione:</label>
        <input class="form-control" type="text" id="votation_description" name="votation_description">
    </div>
    <div class="form-group">
        <label for="description_url">URL:</label>
        <input class="form-control" type="text" id="description_url" name="description_url">
        <small class="form-text text-muted">Indirizzo ad una pagina descrittiva della votazione. Esempio: un post su Facebook</small>
    </div>
    <div class="form-group">
        <label for="votation_type">Tipo di votazione:</label>
        <select class="form-control"  id="votation_type" name="votation_type">
            <option value="simple_maj">Maggioranza semplice</option>
            <option value="maj_jud">Majority judgment</option>
            <!-- <option value="maj_jud_sec">Majority judgment sicuro</option> -->
            <!-- <option value="draw">Sorteggio</option> -->
        </select>
    </div>

    <div class="row">
        <div class="form-group col-sm">
            <label for="begin_date">Begin date</label>
            <input class="form-control" type="date" id="begin_date" name="begin_date">
        </div>
        <div class="form-group col-sm">
            <label for="begin_time">Begin time <a href="https://time.is/it/UTC">UTC</a></label>
            <input class="form-control" type="time" id="begin_time" name="begin_time">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm">
            <label for="end_date">End date</label>
            <input class="form-control" type="date" id="end_date" name="end_date">
        </div>
        <div class="form-group col-sm">
            <label for="end_time">End time <a href="https://time.is/it/UTC">UTC</a></label>
            <input class="form-control" type="time" id="end_time" name="end_time">
        </div>
    </div>

    <div class="form-group" id="votation_options_group">
        <label for="votation_options">Lista di candidati o di opzioni su cui votare:</label>
        <textarea class="form-control text-uppercase" type="text" id="votation_options" name="votation_options" rows="5"></textarea>
        <small class="form-text text-muted">Un candidato o una opzione per riga</small>
    </div>
    <div class="form-check mb-4">
        <input class="form-check-input" type="checkbox" value="1" id="list_voters" name="list_voters" />
        <label class="form-check-label" for="list_voters">Specifica gli aventi diritto</label>
    </div>

    <button type="submit" class="btn btn-primary">Salva</button>
</form>
<div class="font-weight-light mt-4 mb-2">UTC time: {{utcnow}}</div>

<script>
$(function () {
    // show and hide of options
    $("#votation_type").change(
        function() {
            if ($("#votation_type").val() == "draw") {
                $("#votation_options_group").hide();
            }
            else {
                $("#votation_options_group").show();
            }
        }
    );

    // set date today
    var d = new Date();
    var month = d.getMonth()+1;
    var day = d.getDate();
    var formatted_date = d.getFullYear() + '-' +
        (month<10 ? '0' : '') + month + '-' +
        (day<10 ? '0' : '') + day;
    $("#begin_date").val(formatted_date)
    $("#begin_time").val('12:00')
    
    // set date next day
    var ms = new Date().getTime() + (86400000);
    d = new Date(ms);
    month = d.getMonth()+1;
    day = d.getDate();
    formatted_date = d.getFullYear() + '-' +
        (month<10 ? '0' : '') + month + '-' +
        (day<10 ? '0' : '') + day;
    
    $("#end_date").val(formatted_date)
    $("#end_time").val('12:00')

    $("#votationPurpose").submit(function( event ){
        var l = $("#votation_description").val().trim();
        if(!l) {
            alert("Scrivi una descrizione della votazione");
            return false;
        }
        var l = $("#votation_options").val().trim();
        if(!l) {
            alert("Scrivi le opzioni");
            return false;
        }

        return true;
    });


    
});
</script>

{% endblock %}